.login{
    background-color: rgba(24, 23, 23, 0.979);
    height: 90vh;
    min-width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        padding: 3vh;
        font-size: 2.5rem;
        font-weight: 100;
    }

    h3{
        text-align: center;
        font-weight: 100;
        padding: 1.5vh;
    }

    a{
        text-align: center;
        text-decoration: none;
        padding: 2vh;
        background-color: black;
        width: 15vh;
        border-radius: 3vh;
    }
    a:hover{
        cursor: pointer;
        color: black;
        background-color: white;
    }

}


.input{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    width: 90%;
    
    input{
        border: none;
        outline: none;
        color: black;
        font-weight: 500;
        margin: .5vh;
        padding: 3vh;
        border-radius: 3vh;
    }

    h6{
        display: flex;
        align-items: center;
        padding: 1vh;

        input{
            margin-right: 1vh;
        }
    }

    button{
        margin: 2vh;
        padding:2vh 5vh 2vh  5vh;
        background-color: rgb(188, 0, 245);
        border-radius: 3vh;
        text-align: center;
        text-decoration: none;
        transition: all 0.4s;
    }
    button:hover
    {
        font-weight: bolder;
        cursor: pointer;
        color:rgb(188, 0, 245);
        background-color: white;
    }
}