@import "./mixin.scss";

.taskItem {
  margin: 2vh;
  background-color: black;
  color: white;
  width: 70%;
  border-radius: 3vh;
  @include center-flex ;

  .task {
    @include center-flex ;
    flex-direction: column;
    padding: 3vh;
    width: 70%;
  }
}

.taskUpdate {
  @include center-flex ;
  width: 30%;

  input[type="checkbox"] {
    @include checkbox;
  }

  button {
    @include button;
  }
}

@media screen and (max-width: 768px) {
  .taskItem {
    width: 90%;

    .task {
      width: 60%;
    }

    .taskUpdate {
      width: 40%;

      input[type="checkbox"] {
        @include checkbox;
      }

      button {
        @include button;
      }
    }
  }
}
