@import "./mixin.scss";

.taskItem {
  margin: 2vh;
  background-color: black;
  color: white;
  width: 70%;
  border-radius: 3vh;
  @include center-flex;

  .task {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 3vh;
    width: 70%;
  }
}

.taskUpdate {
  @include center-flex;
  flex-direction: column;
  width: 30%;

  .smallIcons {
    margin-left: 1vh;
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }

  input[type="checkbox"] {
    @include checkbox;
  }

  button,
  .speak-button {
    @include button;
  }

  .speak-button {
    width: 0vh !important;
    height: 0vh !important;
    border-radius: 100%;
  }
}

@media screen and (max-width: 768px) {
  .taskItem {
    width: 90%;

    .task {
      width: 60%;
    }

    .taskUpdate {
      width: 40%;

      input[type="checkbox"] {
        @include checkbox;
      }

      button {
        @include button;
      }
    }
  }
}
